.footer {
  align-items: center;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: rgb(202, 220, 224);
  -webkit-box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
  box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
}
