.footer {
  background-color: rgba(36, 40, 44);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  width: 100%;
  bottom: 0;
  -webkit-box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
  -moz-box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
  box-shadow: 2px -8px 15px -5px rgba(34, 60, 80, 0.54);
}
