.content {
  padding: 5px;
  padding-bottom: 20px;
  grid-area: "content";
  height: calc(100vh - 90px);
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
}
.box {
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: white;
}
